<!doctype html>
<html>
<head>
  <title>Anser for: Expressjs + socket.io + express-session</title>
</head>
<body>
  <p>This is answer for <a href="http://stackoverflow.com/questions/24679046/expressjssocket-ioexpress-session">question</a> from stackoverflow.</p>
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.addEventListener('load', function () {
      var client = io();
    });
  </script>
</body>
</html>